/* глава 112 */
.glava112 ul {
	list-style-type: square;
}
/* глава 113 */
.glava113 ul {
	list-style-type: circle;
}
/* глава 114 */
.glava114 ul {
	list-style-type: disc;
}
.glava115 ul {
	list-style-type: none;
} 
.glava119 ol {
	list-style-type: lower-alpha;
}