/* глава 112 */
.glava112 ul {
	list-style-type: square;
}
/* глава 113 */
.glava113 ul {
	list-style-type: circle;
}
/* глава 114 */
.glava114 ul {
	list-style-type: disc;
}
/* глава 115 */
.glava115 ul {
	list-style-type: none;
} 
/* глава 119 */
.glava119 ol {
	list-style-type: lower-alpha;
}
/* глава 120 */
.glava120 ol {
	list-style-type: upper-alpha;
}
/* глава 121 */
.glava121 ol {
	list-style-type: lower-greek;
}