/* задача 24 */
.glava3_23 {
  color: aquamarine;
}

/* задача 25 */
p {
  color: red;
}

/* задача 26 */
h1 {
  color: green;
}

h2 {
  color: blue;
}

h3 {
  color: orange;
}

/* задача 27 */
.glava27 {
  i {
    color: #4577d4;
  }
}

/* задача 28 */
.glava28_2 {
  td {
    width: 400px;
    height: 300px;
  }
}

p {
  width: 300px;
}

/* задача 30 */
/* изменения тянутся из других задач(задача 28),не совсем понятно нужно далее придерживаться изменений по всей странице или только в блоке задания(т.к в пособии это не уточняется),поэтому сделано таким образом */
/* в данном задании текст должен был быть выравнен по правому краю,однако из-за предыдущих изменений с шириной изменения не совсем коректные */
.glava30 {
  p {
    text-align: right;
  }
}