/* задача 24 */
.glava3_23 {
  color: aquamarine;
}
/* задача 25 */
p {
  color: red;
}
/* задача 26 */
h1 {
  color: green;
}
h2 {
  color: blue;
}
h3 {
  color: orange;
}
/* задача 27 */
i {
color: #4577D4;
}