/* глава 163 */
.glava163 .parent {
	display: flex; /* потомки будут флекс элементами */
	width: 300px;
	height: 200px;
	border: 1px solid red;
}
.glava163 .child {
	width: 50px;
	height: 50px;
	border: 1px solid green;
}
/* глава 164 */
.glava164 .parent {
	display: flex;
	width: 300px;
	border: 1px solid red;
}
.glava164 .child {
	width: 50px;
	height: 50px;
	border: 1px solid green;
}
/* глава 165 */
.glava165 .parent	{
	display: flex;
	border: 1px solid red;
}
.glava165 .child {
	width: 50px;
	height: 50px;
	border: 1px solid green;
}
/* глава 166 */
.glava166 .parent	{
	display: inline-flex;
	border: 1px solid red;
}
.glava166 .child {
	width: 50px;
	height: 50px;
	border: 1px solid green;
}
/* глава 167 */
.glava167 .parent	{
	display: inline-flex;
	padding: 10px;
	border: 1px solid red;
}
.glava167 .child {
	width: 50px;
	height: 50px;
	border: 1px solid green;
}
/* глава 168 */
.glava168 .parent	{
	display: inline-flex;
	border: 1px solid red;
}
.glava168 .child {
	margin: 10px;
	width: 120px;
	height: 50px;
	border: 1px solid green;
}
/* глава 170 */
.glava170 .parent {
    display: flex;
    justify-content: center;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.glava170 .child {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}