/* глава 64 */
#elem1 {
  color: red;
}

#elem2 {
  color: green;
}

#elem3 {
  color: aqua;
}

/* глава 65 */
.glava65 #block {
  color: red;
  font-family: Arial;
}

.glava65 .text {
  font-size: 30px;
}

/* глава 66 №1 */
.glava66_1 #block .header {
  color: pink;
}

.glava66_1 #block h2.header {
  color: yellow;
}

.glava66_1 #elem h2 {
  color: blueviolet;
}

/* глава 66 №2 */
.glava66_2 #elem .new_text {
  color: peru;
}

/* глава 66 №3 */
.glava66_3 #elem p.new_text {
  color: rgb(106, 210, 148);
}

/* глава 66 №4 */
.glava66_4 #elem li.new_text {
  color: chartreuse;
}

/* глава 67 */
.eee.zzz.ccc {
  color: coral;
}

/* глава 68 №1 */
.glava68 .bbb.zzz {
  color: red;
}

/* глава 68 №2 */
.glava68 h2.bbb.zzz {
  color: red;
}

/* глава 68 №3 */
.glava68 #elem.bbb {
  color: red;
}

/* глава 68 №4 */
.glava68 #elem.bbb.zzz {
  color: red;
}

/* глава 68 №5 */
.glava68 h2#elem.bbb {
  color: red;
}
/* глава 69 №1-9 */
.glava69 h2.zzz {
  color: red;
}

h2 .zzz {
  color: red;
}

.bbb.zzz {
  color: red;
}

.bbb .zzz {
  color: red;
}

.bbb.zzz.xxx {
  color: red;
}

.bbb .zzz.xxx {
  color: red;
}

.bbb.zzz .xxx {
  color: red;
}

.bbb .zzz .xxx {
  color: red;
}

#elem.bbb {
  color: red;
}

#elem .bbb {
  color: red;
}
/* глава 70 №1 */
.glava70_1 #block_1 h1,
#block_1 h2 {
  text-align: center;
}

/* глава 70 №1 */
.glava70_2 #block_2 h1,
#block_2 h2 {
  text-align: center;
}
.glava70_2 #block_2 h1 {
  font-size: 30px;
}
.glava70_2 #block_2 h2 {
  font-size: 20px;
}
/* глава 71 №1-4 */
.glava70_1 #block h1,
.glava71_1 #block h2,
.glava71_1 #block h3 {
  text-align: center;
}
.glava70_1 #block h2 {
  color: blue;
}
.glava70_1 #block h3 {
  font-size: 16px;
  color: red;
}
/* #2 */
.glava71_2 #block h1.eee,
.glava71_2 #block h2.zzz {
  text-align: center;
}
.glava71_2 #block h2.zzz {
  font-size: 20px;
}
.glava71_2 #block h1.eee {
  font-size: 30px;
}
/* #3 */
.glava71_3 .xxx .kkk,
.glava71_3 h2.zzz,
.glava71_3 #eee h2 {
  text-align: center;
}
/* #4 */
.glava71_4 .eee h2.zzz,
.glava71_4 .xxx {
  text-align: center;
}
/* глава 72 №1-10 */
.glava72_1 div p {
  color: cadetblue;
}
.glava72_2 div h2 {
  text-align: center;
}
.glava72_3 #block p {
  text-align:right;
  color: rgb(96, 57, 210);
}
.glava72_4 #block h2 {
  text-decoration: underline;
}
.glava72_5 .bbb {
  text-align: center;
  font-family: Arial;
}
.glava72_6 #block .bbb {
  font-size: 40px;
}
.glava72_7 p.bbb {
  color: red;
}
.glava72_8 h2.bbb {
  color: fuchsia;
}
.glava72_9 #block p.bbb {
  color: teal;
}
.glava72_10 .bbb, .xxx {
  color: olive;
}
/* глава 73 */