/* глава 81 */
.glava81 :link {
	color: aqua;
}
.glava81 :visited {
	color: green;
}
.glava81 :hover {
	text-decoration: none;
    color: red;
}
.glava81 :active {
	color: black;
}
/* глава 84 */
.glava84 a {
	color: aqua;
    text-decoration: none;
}
.glava84 a:hover{
    color: red;
    text-decoration: underline;
}
/* глава 85 */
.glava85 #test_85 a {
	color: red;
}
.glava85 #test_85 a:hover {
	text-decoration: none;
}
/* для всех состояний ссылок - цвет красный,для состояния hover - ссылка без подчеркивания */
/* глава 86 №1 */
.glava86_1 a.zzz86 {
	color: red;
}
.glava86_1 a.zzz86:hover {
	text-decoration: none;
}
 /* для всех состояний ссылок c классом zzz86 - цвет красный,для состояния hover - ссылка без подчеркивания */ 
/* глава 86 №2 */
.glava86_2 #block86 a.zzz86_2{
	color: red;
}
.glava86_2 #block86 a.zzz86_2:hover {
	text-decoration: none;
}
/* для всех состояний ссылок c классом zzz86 которые находятся в контейнере с id block86 - цвет красный,для состояния hover - ссылка без подчеркивания */
/* глава 86 №3 */
.glava86_3 .block86_3 a.zzz86_3 {
	color: red;
}
.glava86_3 .block86_3 a.zzz86_3:hover {
	text-decoration: none;
}
/* для всех состояний ссылок c классом zzz86 которые находятся в контейнере с классом block86_3 - цвет красный,для состояния hover - ссылка без подчеркивания */
/* глава 87 */
.glava87_1 li:first-child {
	color: red;
}
.glava87_2 li:last-child {
	color: green;
}
.glava87_3 li:nth-child(even) {
    color: green;
}
.glava87_3 li:nth-child(odd) {
	color: red;
}
.glava87_4 li:nth-last-child(odd) {
	color: red;
}
.glava87_5 li:only-child {
	color: red;
}
.glava87_5 ul {
	margin-bottom: 10px;
}
.glava87_6 li:empty {
	border: 1px solid blue;
	list-style-type: circle;
	color: blue;
	width: 100px;
}