/* глава 147 */
.glava147_1 p{
    display: inline;
	width: 200px;
	height: 200px;
	border: 3px solid red;
}
.glava147_2 a{
    display: block;
	width: 200px;
	height: 200px;
	border: 3px solid red;
	margin-bottom: 20px;
}
/* глава 152 */
.glava152_1 div {
	width: 100px;
	height: 100px;
	border: 1px solid red;
    display: inline-block;
}
/* глава 153 */
.glava153_1 #parent {
    border: 1px solid red;
    width: 600px;
}
.glava153_1 #elem1 {
    height: 100px;
    width: 100px;
    border: 1px solid green;
    margin: 10px auto;
}
.glava153_1 #elem2 {
    height: 100px;
    width: 200px;
    border: 1px solid green;
    margin: 10px auto;
}
.glava153_1 #elem3 {
    height: 100px;
    width: 300px;
    border: 1px solid green;
    margin: 10px auto;
}