/* задача 41 #1*/
.task1_41 {
    font: 13px/20px "Times New Roman";
}
/* задача 41 #2*/
.task2_41{
   font:bold 40px Arial;
   width: 300px;
   color: red;
}
/* задача 41 #3 */
.task3_41{
    text-indent: 50px;
    font:bold italic 40px/60px Arial; 
}
/* задача 42 */
.glava42{
    p {
        text-indent: 50px;
        text-align: justify;
        width: 400px;
    }
}
/* задача 44 */
.glava44{
    p{
        font-size: 18px;
        font-family: Arial;
        text-decoration: underline;
    }
}
/* задача 45 */
.glava45{
    p{
        color: red;
        font-size: 20px;
        text-decoration: overline;
    }
}
/* задача 46 */
.glava46{
    p {
        color: green;
        font-size: 18px;
        text-decoration: line-through;
    }
}
/* задача 47 */
.glava47{
    p{
        font-size: 18px;
    }
    a {
        color: red;
        text-decoration: none;
    }
}