/* задача 51 */
.glava51{
    h1, h2, h3{
        text-align: center;
    }
}
/* задача 52 №1-2 */
.glava52_1{
    h1, h2, h3 {
        text-align: center;
    }
    h2 {
        color: blue;
    }
    h3 {
        font-size: 16px;
        color: red;
    }
}
.glava52_2{
    h1, h2, h3 {
        text-align: center;
        color: red;
    }
    h3 {
        font-size: 16px;
    }
}
/* задача 53 №1-2 */
.glava53_1{
    ul i{
        color: red;
    }
    p i{
        color: green;
    }
}
.glava53_2
{
    p b i{
        color: red;
    }
}
/* глава 54 */
.glava54{
    li > b{
        color: red;
    }
}
/* глава 55 №1-3 */
.glava55_1 .odd{
    color: red;
}
.glava55_1 .eve{
    color: green;
}
.glava55_2 .eee{
    color: red;
}
/* глава 56 */
.glava56 .xxx{
    font-size: 30px;
}
/* глава 57 */
.glava57_1 .glava57_1_red{
    color: red;
}
.glava57_1 .glava57_1_green{
    color:green
}
.glava57_1 .glava57_1_blue{
    color: aqua;
}
.glava57_2 .glava57_2_red{
    color: red;
}
.glava57_2 .glava57_2_green{
    color: green    ;
}