/* задача 51 */
.glava51{
    h1, h2, h3{
        text-align: center;
    }
}
/* задача 52 №1-2 */
.glava52_1{
    h1, h2, h3 {
        text-align: center;
    }
    h2 {
        color: blue;
    }
    h3 {
        font-size: 16px;
        color: red;
    }
}
.glava52_2{
    h1, h2, h3 {
        text-align: center;
        color: red;
    }
    h3 {
        font-size: 16px;
    }
}
/* задача 53 №1-2 */
.glava53_1{
    ul i{
        color: red;
    }
    p i{
        color: green;
    }
}
.glava53_2
{
    p b i{
        color: red;
    }
}
/* глава 54 */
.glava54{
    li > b{
        color: red;
    }
}
/* глава 55 №1-3 */
.glava55_1 .odd{
    color: red;
}
.glava55_1 .eve{
    color: green;
}
.glava55_2 .eee{
    color: red;
}
/* глава 56 */
.glava56 .xxx{
    font-size: 30px;
}
/* глава 57 */
.glava57_1 .glava57_1_red{
    color: red;
}
.glava57_1 .glava57_1_green{
    color:green
}
.glava57_1 .glava57_1_blue{
    color: aqua;
}
.glava57_2 .glava57_2_red{
    color: red;
}
.glava57_2 .glava57_2_green{
    color: green    ;
}
/* глава 58 №1*/
.glava58_1 .eee, .zzz{
    line-height: 1.5;
    font-family: Arial;
}
.glava58_1 .eee{
    font-size: 20px;
}
.glava58_1 .zzz{
    font-size: 30px;
}
/* глава 58 №2 */
.glava58_2 .zzz2, .ggg2, .eee2{
    text-align: center;
    font-family: Arial;
}
.glava58_2 .eee2{
    font-size: 20px;
}
.glava58_2 .zzz2{
    font-size: 30px;
}
.glava58_2 .ggg2{
	font-size: 35px;
}
/* глава 59 */
.glava59 h2.header{
    color: red;
    font-size: 40px;
}
.glava59 h3.header{
    color: red;
    font-size: 30px;
}
/* глава 60 */
.glava60 .eee3 i{
    color: red;
}
/* глава 61 №1-6 */
.glava61 .eee1 .bbb1 {
    color: red; /* Красный цвет для элементов с классом bbb внутри eee */
}

.glava61 .eee1 h2 {
    color: red; /* Красный цвет для h2 внутри eee */
}

.glava61 .eee1 h2.bbb1 {
    color: red; /* Красный цвет для h2 с классом bbb внутри eee */
}

.glava61 .eee1 h3.bbb1 {
    color: red; /* Красный цвет для h3 с классом bbb внутри eee */
}

.glava61 .eee1 p.bbb1 {
    color: red; /* Красный цвет для p с классом bbb внутри eee */
}

.glava61 .eee1 .bbb1 .kkk1 {
    color: red; /* Красный цвет для элементов с классом kkk внутри bbb внутри eee */
}
/* глава 63 */
.success {
	color: green;
}
.error {
	color: red;
}
.large {
	font-size: 30px;
}
.small {
	font-size: 20px;
}
.karas{
    color: blue;
}
.igra{
    font: 30px Arial;
    font-style: italic;
}
.nachalas{
    text-align: center;
}