.glava203 .parent {
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.glava203 .child {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}
/* глава 204 */
.glava204 .parent {
    display: flex;
    flex-direction: row-reverse;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.glava204 .child {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}
/* глава 205 */
.glava205 .parent {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.glava205 .child {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}
/* глава 206 */
.glava206 .parent {
    display: flex;
    flex-direction: column-reverse;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.glava206 .child {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}
/* глава 208 */
.glava208_1 .parent {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.glava208_1 .child {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}

.glava208_2 .parent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.glava208_2 .child {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}

.glava208_3 .parent {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.glava208_3 .child {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}

.glava208_4 .parent {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.glava208_4 .child {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}

.glava208_5 .parent {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.glava208_5 .child {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}
/* глава 209 */
.glava209_1 .parent {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.glava209_1 .child {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}

.glava209_2 .parent {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.glava209_2 .child {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}

.glava209_3 .parent {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.glava209_3 .child {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}

.glava209_4 .parent {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.glava209_4 .child {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}

.glava209_5 .parent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.glava209_5 .child {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}

.glava209_6 .parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.glava209_6 .child {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}

.glava209_7 .parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.glava209_7 .child {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}
/* глава 210 */
.glava210_1 .parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.glava210_1 .child {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}
.glava210_2 .parent {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.glava210_2 .child {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}

.glava210_3 .parent {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.glava210_3 .child {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}

.glava210_4 .parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.glava210_4 .child {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}

.glava210_5 .parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.glava210_5 .child {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}

.glava210_6 .parent {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.glava210_6 .child {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}
/* глава 213 */
.glava213_1 .parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.glava213_1 .child {
    width: 120px;
    border: 1px solid green;
}

.glava213_2 .parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.glava213_2 .child {
    height: 40px;
    border: 1px solid green;
}

.glava213_3 .parent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}   
.glava213_3 .child {
    height: 40px;
    border: 1px solid green;
}