/* глава 123 */
.glava123_1 #parent {
    width: 400px;
    border: 1px dashed blue;
}
.glava123_1 #child {
    margin: 50px;
    height: 300px;
    border: 1px solid orange;
}
.glava123_2 #elem1 {
    width: 400px;
    border: 1px dashed blue;
}
.glava123_2 #elem2 {
    margin: 25px;
    border: 1px dashed green;
}
.glava123_2 #elem3 {
    height: 200px;
    margin: 25px;
    border: 1px solid red;
}
/* глава 124 */
