.glava90_1 #glava90_1z{
    width: 200px;
    height: 200px;
    background-color: #7e89eb;
}
.glava90_2 #glava90_2z{
        width: 300px;
        height: 200px;
        color: white;
        background-color: #4dee99;
        text-align: center;
        font-size: 30px;
}
/* глава 92 */
.glava92_1 #elem {
    width: 300px;
    height: 200px;
    border-width: 5px;
    border-style: solid;
    border-color: blue;
}
/* глава 93 */
.glava93_1 #elem {
    width: 300px;
    height: 200px;
    border-width: 5px;
    border-style: dotted;
    border-color: red;
}
/* глава 94 */
.glava94_1 #elem {
    width: 300px;
    height: 200px;
    border-width: 2px;
    border-style: dashed;
    border-color: orange;
}
/* глава 96 */
.glava96_1 #elem {
    width: 300px;
    height: 200px;
    border-width: 10px;
    border-style: double;
    border-color: blue;
}
/* глава 97 */
.glava97_1 #elem {
    width: 300px;
    height: 200px;
    border: 1px solid red;
}
.glava97_2 #elem {
    width: 300px;
    height: 200px;
    border: 2px dotted blue;
}
.glava97_3 #elem {
    width: 300px;
    height: 200px;
    border: 3px dashed green;
}
.glava97_4 #elem {
    width: 300px;
    height: 200px;
    border: 5px double orange;
}
/* глава 98 */
.glava98_1 #elem {
    width: 300px;
    height: 200px;
    border-top: 3px solid blue;
    border-bottom: 3px solid red;
    border-left: 3px solid orange;
    border-right: 3px solid green;
}
.glava98_2 #elem {
    width: 300px;
    height: 200px;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    border-left: 3px solid red;
    border-right: 3px dotted green;
}
/* глава 99 */
.glava99_1 #elem {
    width: 200px;
    height: 200px;
    border: 1px solid green;
    border-radius: 30px;
    text-align: center;
}
/* глава 100 */
.glava100_1 #elem {
    width: 200px;
    height: 200px;
    background-color: #4dee99;
    border-radius: 30px;
    text-align: center;
}