.glava90_1 #glava90_1z{
    width: 200px;
    height: 200px;
    background-color: #7e89eb;
}
.glava90_2 #glava90_2z{
        width: 300px;
        height: 200px;
        color: white;
        background-color: #4dee99;
        text-align: center;
        font-size: 30px;
}
/* глава 92 */
.glava92_1 #elem {
    width: 300px;
    height: 200px;
    border-width: 5px;
    border-style: solid;
    border-color: blue;
}
/* глава 93 */
.glava93_1 #elem {
    width: 300px;
    height: 200px;
    border-width: 5px;
    border-style: dotted;
    border-color: red;
}
/* глава 94 */
.glava94_1 #elem {
    width: 300px;
    height: 200px;
    border-width: 2px;
    border-style: dashed;
    border-color: orange;
}
/* глава 96 */
.glava96_1 #elem {
    width: 300px;
    height: 200px;
    border-width: 10px;
    border-style: double;
    border-color: blue;
}
/* глава 97 */
.glava97_1 #elem {
    width: 300px;
    height: 200px;
    border: 1px solid red;
}
.glava97_2 #elem {
    width: 300px;
    height: 200px;
    border: 2px dotted blue;
}
.glava97_3 #elem {
    width: 300px;
    height: 200px;
    border: 3px dashed green;
}
.glava97_4 #elem {
    width: 300px;
    height: 200px;
    border: 5px double orange;
}
/* глава 98 */
.glava98_1 #elem {
    width: 300px;
    height: 200px;
    border-top: 3px solid blue;
    border-bottom: 3px solid red;
    border-left: 3px solid orange;
    border-right: 3px solid green;
}
.glava98_2 #elem {
    width: 300px;
    height: 200px;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    border-left: 3px solid red;
    border-right: 3px dotted green;
}
/* глава 99 */
.glava99_1 #elem {
    width: 200px;
    height: 200px;
    border: 1px solid green;
    border-radius: 30px;
    text-align: center;
}
/* глава 100 */
.glava100_1 #elem {
    width: 200px;
    height: 200px;
    background-color: #4dee99;
    border-radius: 30px;
    text-align: center;
}
/* глава 101 */
.glava101_1 #elem {
    width: 200px;
    height: 200px;
    border: 1px solid green;
    border-radius: 100px;
}
/* глава 103 */
.glava103_1 #elem {
    width: 200px;
    height: 200px;
    border: 1px solid green;
    border-radius: 10px 30px 50px 70px;
}
/* 4 значения по часовой */
/* глава 104 */
/* Если задано два значения, то первое значение задает скругление для для верхнего левого и нижнего правого, второе - верхнего правого и нижнего левого углов */
.glava104_1 #elem {
    width: 200px;
    height: 200px;
    border: 1px solid green;
    border-radius: 10px 30px;
    text-align: center;
}
/* глава 105 */
/* Если задано три значения, то первое значение задает скругление для верхнего левого угла, второе - одновременно для верхнего правого и нижнего левого, а третье - для нижнего правого угла: */
.glava105_1 #elem {
    width: 200px;
    height: 200px;
    border: 1px solid green;
    border-radius: 10px 30px 20px;
}
/* глава 107 */
.glava107_1 #elem {
    width: 100px;
    height: 100px;
    border: 1px solid green;
    border-radius: 100px;
}
/* глава 108 */
.glava108_1 #elem {
	background-image: url("bg.png");
	width: 400px;
	height: 300px;
	border: 3px solid black;
}
/* глава 109 */
.glava109_1 #elem {
	background-repeat: repeat-y;
	background-image: url("bg.png");
	width: 500px;
	height: 500px;
	border: 1px solid black;
}
.glava109_2 #elem {
	background-repeat: repeat-x;
	background-image: url("bg.png");
	width: 400px;
	height: 300px;
	border: 1px solid black;
}
/* глава 110 */
.glava110_1 #elem {
	background-position: bottom right;
	background-image: url("bg.png");
	background-repeat: no-repeat;
	width: 400px;
	height: 300px;
	border: 1px solid black;
}
.glava110_2 #elem {
	background-size: auto;
	background-repeat: no-repeat;
	background-image: url("bg.png");
	border: 1px solid black;
	width: 400px;
	height: 400px;
}
.glava110_4 #elem {
	background-color: orange;
	background-clip: border-box;
	border: 10px dashed black;
	padding: 30px;
	width: 250px;
	height: 150px;
}
.glava110_5 #elem {
	background-repeat: repeat;
	background-image: url("bg.png");
	border: 10px dashed black;
	padding: 30px;
	width: 350px;
	height: 300px;
}
