/* глава 174 */
.glava174_1 #elem1 {
    border: 1px solid red;
    left: 80px;
    top: 80px;
}
.glava174_1 #elem1,.glava174_1 #elem2,.glava174_1 #elem3 {
    width: 50px;
    height: 50px;
    position: absolute;
}
.glava174_1 #elem2 {
    border: 1px solid blue;
    left: 160px;
    top: 160px;
}
.glava174_1 #elem3 {
    border: 1px solid green;
    left: 240px;
    top: 240px;
}


.glava174_2{
    margin-top: 250px;
}
.glava174_2 #elem1 {
    border: 1px solid red;
    left: 30px;
}
.glava174_2 #elem2 {
    border: 1px solid blue;
    left: 100px;
}
.glava174_2 #elem3 {
    border: 1px solid green;
    left: 170px;
}
.glava174_2 #elem1,.glava174_2 #elem2,.glava174_2 #elem3 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 400px;
}


.glava174_3{
    margin-top: 170px;
}
.glava174_3 #elem1 {
    border: 1px solid red;
    left: 30px;
    top: 600px;
}
.glava174_3 #elem2 {
    border: 1px solid blue;
    left: 60px;
    top: 630px;
}
.glava174_3 #elem3 {
    border: 1px solid green;
    left: 90px;
    top: 660px;
}
.glava174_3 #elem1,.glava174_3 #elem2,.glava174_3 #elem3 {
    width: 50px;
    height: 50px;
    position: absolute;
}


.glava174_4{
    margin-top: 175px;
    margin-bottom: 200px;
}
.glava174_4 #elem1 {
    border: 1px solid red;
    left: 30px;
    top: 800px;
    background-color: red;
}
.glava174_4 #elem2 {
    border: 1px solid blue;
    left: 60px;
    top: 830px;
    background-color: blue;
}
.glava174_4 #elem3 {
    border: 1px solid green;
    left: 90px;
    top: 860px;
    background-color: green;
}
.glava174_4 #elem1,.glava174_4 #elem2,.glava174_4    #elem3 {
    width: 50px;
    height: 50px;
    position: absolute;
}
/* глава 175 */
.glava175_1 #elem1 {
	width: 100px;
    left: 40px;
	height: 100px;
	background-color: #FF8888;
    position: relative;
    top: 40px;
    margin-bottom: 20px;
}
.glava175_1 #elem2 {
    position: relative;
    top: 10px;
    left: 120px;
	width: 100px;
	height: 100px;
	background-color: #7E89EB;
}
.glava175_1 #elem3 {
    position: relative;
    left: 200px;
	width: 100px;
	height: 100px;
	background-color: #4DEE99;
    margin-bottom: 20px;
}
/* глава 176 */
.glava176_1 #elem1 {
    position: relative;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    border: 1px solid green;
}
.glava176_1 #elem2 {
    border: 1px solid red;
    position: absolute;
    left: 100px;
    top: 100px;
    width: 100px;
    height: 100px;
}
.glava176_2 #elem1 {
    position: relative;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    background-color: #4DEE99;
}
.glava176_2 #elem2 {
    background-color: white;
    position: absolute;
    right: 50px;
    bottom: 50px;
    width: 100px;
    height: 100px;
}
.glava176_2 #elem3 {
    background-color: white;
    position: absolute;
    left: 50px;
    top: 50px;
    width: 100px;
    height: 100px;
}
.glava176_3 #elem1 {
    position: relative;
    width: 200px;
    height: 430px;
    margin: 0 auto;
    border: 1px solid black;
}
.glava176_3 #elem2 {
    border: 1px solid black;
    background-color: red;
    position: absolute;
    left: 50px;
    top: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.glava176_3 #elem3 {
    background-color: yellow;
    border: 1px solid black;
    position: absolute;
    left: 50px;
    top: 160px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.glava176_3 #elem4 {
    border: 1px solid black;
    background-color: green;
    position: absolute;
    left: 50px;
    top: 270px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.glava176_4 #elem1 {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: #4DEE99;
    border-radius: 250px;
}
.glava176_4 #elem2 {
    background-color: white;
    position: absolute;
    right: 100px;
    top: 70px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.glava176_4 #elem3 {
    background-color: white;
    position: absolute;
    left: 100px;
    top: 70px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.glava176_4 #elem4 {
    background-color: white;
    position: absolute;
    left: 215px;
    top: 200px;
    width: 70px;
    height: 70px;
}
.glava176_4 #elem5 {
    background-color: white;
    position: absolute;
    left: 150px;
    top: 350px;
    width: 200px;
    height: 20px;
}
.glava176_5 #elem1 {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background-color: #C4CD14;
    border-radius: 200px;
}
.glava176_5 #elem2  {
    background-color: #fff;
    position: absolute;
    right: 80px;
    top: 70px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
}
.glava176_5 #elem3 {
    background-color: #fff;
    position: absolute;
    left: 80px;
    top: 70px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
}
.glava176_5 #elem4 {
    background-color: #fff;
    position: absolute;
    left: 165px;
    top: 200px;
    width: 70px;
    height: 70px;
    border-radius: 35px;
}
.glava176_5 #elem5 {
    background-color: #fff;
    position: absolute;
    left: 100px;
    top: 155px;
    width: 200px;
    height: 100px;
    border-radius: 0 0 100px 100px;
    margin-top: 125px;
}
